{% extends "food/base.html" %}
{% load static %}
{% load ratings %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'food/style.css' %}">
</head>
<body>
{% block body %}
    <div class="container">
    {% if user.is_authenticated %}
        <form method="GET" action="{% url 'food:index' %}">
            <label for="sort_by">Подреди по:</label>
            <select name="sort_by" id="sort_by">
                <option value="rating">Рейтинг:</option>
                <option value="views">Преглеждания:</option>
            </select>
            <button type="submit">Sort</button>
        </form>
    {% else %}
        <p>
            Ако искате да добавите рецепта моля:
            <a href="{% url 'login' %}">Login</a> или
            <a href="{% url 'register' %}">Register</a>
        </p>
    {% endif %}
        {% for item in item_list %}
            <div class="item-row">
                <div class="row">
                    <div class="col-md-3 offset-md-2">
                        <img src="{{ item.item_image }}" height="150px" alt="{{ item.item_name }}">
                    </div>
                    <div class="col-md-4">
                        <h3><a href="{{ item.get_absolute_url }}" style="text-decoration: none;">{{ item.item_name }}</a></h3>
                        <h5>{{ item.item_desc | safe }}</h5>
                        <h6>Добавено от: <a href="{% url 'profile' item.user_name %}">{{ item.user_name }}</a></h6>
                        <p>Преглеждания: {{ item.views }}</p>
                        <div>
                            <p>Рейтинг:</p>
                            {% ratings item %}
                        </div>

                    </div>
                    <div class="col-md-2">
                        <a href="{% url 'food:detail' item.id %}" class="btn btn-danger">Преглед</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
