{% extends 'food/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'food/style.css' %}">

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ profile_user.username }}</h1>
                <img width="100px" height="100px" src="{{ profile_user.profile.image.url }}" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-6">
                <h2>My Foods:</h2>
                <div class="food-container">
                    {% for item in profile_user.item_set.all %}
                        <div class="food-item">
                            <h3>{{ item.item_name }}</h3>
                            <p>Description:{{ item.item_desc | safe}}</p>
                            <p>Rating:{{ item.average_rating }}</p>
                            <p>Views:{{ item.views }}</p>
                            <!-- Add more details as needed -->
                        </div>
                    {% empty %}
                        <p>No foods found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
