body{
    background-color: #ffffff;
}

.no-underline {
    text-decoration: none; /* Remove underline */
}

.small-profile-img {
    width: 100px;
    height: 100px;
    /* Add more styling if needed */
}

.form-group input {
    width: 100%;
}
.user-info-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.food-container {
    border: 1px solid #ccc;
    padding: 20px;
    max-height: 500px; /* Limit the height */
    overflow-y: auto; /* Add scroll if necessary */
}

.food-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.food-item:last-child {
    border-bottom: none; /* Remove border from last item */
}


.nav-item {
        text-decoration: none; /* Remove underline */
        color: #ffffff; /* Set text color to white */
    }

.nav-item:hover {
        color: #ffcc00; /* Change text color on hover */
    }


.item-row {
            margin-bottom: 20px; /* Add margin-bottom to create separation between item rows */
            border-bottom: 1px solid #ccc;
        }


.item-name a {
    text-decoration: none;
}
.star-ratings {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-ratings input {
    display: none;
}

.star-ratings label {
    font-size: 4rem;
    color: #0022ff;
    cursor: pointer;
}
